# Maven
**/target/
*.class

# IDE
.idea
*.iml

# Test files
*Test.java
**/test/

# Application configurations (ignore all profile configs)
**/application-dev.yml
**/application-prod.yml
**/application*.yml
!application.yml
